
h4::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

h4:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h4::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
}

h4 {
    position: relative;
    font-size: 5rem;
}


.content-list-post {
    position: relative;
    padding: 30px;
}

.postCtrl {
    position: relative;
}

h4 {
    color: var(--color-primary);
    text-align: center;
    font-weight: bold;
}
.glow-on-hover {

    width: 70px;
    height: 40px;
    border: none;
    outline: none;
    color: var(--color-primary);
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid var(--color-primary);
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.glow-on-hover:active {
    color: var(--color-primary);

}

.glow-on-hover:active:after {
    background: transparent;


}

.glow-on-hover:hover:before {
    opacity: 1;
    outline: none;
    border: none;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;

}

.glow-on-hover:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: var(--primary-color);

    box-shadow: none;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
.btn-update{
width: 120px;
}