<div class="row">
  <div class="col-md-10">
    <form id="myForm" method="post">
      <fieldset>
        <h4>ADD POST11</h4>
        <div>
          <label for="title" class="form-label mt-4">Title</label>
          <input type="text" class="form-control" ng-model="title" name="title" id="title">
        </div>
        <div>
          <label for="description" class="form-label mt-4">description</label>
          <textarea name="description" id="editor" ng-model="description" ck-editor></textarea>
        </div>
        <p>{{description}}/{{title}}</p>
        <p id="msg">{{msg}}</p>
        <div class="from-group">
          <div class="col-lg-10 col-lg-offset-2">
            <input type="button" ng-click="add()" id="submit" class="btn btn-primary" value="ADD POST">
            <a href="#/" class="btn btn-primary">BACK</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

</div>