<div class="row">
  <div class="col-md-10">
    <form id="myForm">
      <fieldset>
        <h4>ADD POST1</h4>
        <div>
          <label for="exampleInputEmail1" class="form-label mt-4">Title</label>
          <input type="email" class="form-control" name="title" id="title" aria-describedby="emailHelp"
            placeholder="Title">
        </div>
        <div>
         
          <label for="exampleInputPassword1" class="form-label mt-4">Description</label>
          <textarea class="form-control" name="description" id="description" rows="3"
            placeholder="Description"></textarea>
        </div>
        <p id="msg"></p>
        <div class="from-group">
          <div class="col-lg-10 col-lg-offset-2">
            <input type="button" id="submit" class="btn btn-primary" value="ADD POST">
            <a href="#/" class="btn btn-primary">BACK</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
