<footer class="footer">
    <div class="member mem-1">
        <img class="car" src="./public/images/car.png" alt="">
        <img class="avatar" src="./public/images/quang.png" alt="">
    </div>
    <div class="member mem-2">
        <img class="car" src="./public/images/car.png" alt="">
        <img class="avatar" src="./public/images/dat.png" alt="">
    </div>
    <div class="member mem-3">
        <img class="car" src="./public/images/car3.png" alt="">
        <!-- <img class="avatar" src="" alt=""> -->
    </div>
    
    <div class="layer">
        <!-- <div class="rain-drop"></div> -->
      </div>
</footer>