<div load-css="./css/post.css"></div>
<div ng-show="isLoading" class="loading">
   <div class="box">
   
   </div>
</div>

<div class="row" ng-show="!isLoading">
  <div class="col-md-12  content-list-post">
    <div ng-controller="postCtrl">
      <h4>ALL POSTS</h4>
      <!-- <div class="search">
        <input type="text" ng-model="searchQuery" placeholder="Search posts" ng-change="loadPosts()">
        <i class="fa-solid fa-xmark" ng-click="searchRemove()"></i>
      </div> -->
      <div class="search-box">
        <input class="search-box-input" ng-model="searchQuery" type="text" ng-change="loadPosts()">
        <button class="search-box-btn">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <table class="table"  ng-if="posts.info.length > 0">
        <thead>
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr  class="item-post-animation" ng-repeat="post in posts.info track by $index">
            <td >{{$index + 1}}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.description.length > 50 ? (post.description | limitTo: 50) + '...' : post.description }}</td>
            <td>{{ post.created_at }}</td>
            <td>
              <a ng-href="#!post/{{ post.id }}" class="btn-post btn-view"><i class="fa-solid fa-eye"></i></a>
              <a ng-hide="isLogin == false" ng-href="#!updatePost/{{ post.id }}" class="btn-post btn-update"><i
                  class="fa-solid fa-pen-to-square"></i></a>
              <a ng-hide="isLogin == false" ng-href="#!delete/{{ post.id }}" class="btn-post btn-del"><i class="fa-solid fa-trash"></i></a>

            </td>
          </tr>
        </tbody>
      </table>
      <div ng-if="noDataMessage">
        <p>{{ noDataMessage }}</p>
      </div>
      <div class="pagination">
        <button ng-disabled="currentPage === 1" ng-click="goToPage(currentPage - 1)">Pre</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button ng-disabled="currentPage === totalPages" ng-click="goToPage(currentPage + 1)">Next</button>
      </div>
    </div>

  </div>
</div>
</div>
<script src="./js/main.js"></script>