<div load-css="./css/update.css"></div>

<div class="row">
    <div class="col-md-12">
        <form id="updateForm">
            <fieldset>
                <h4>Update Post</h4>
                <div>
                    <label for="title" class="form-label mt-4">Title</label>
                    <input type="text" class="form-control" ng-model="post.title" id="title" placeholder="Title">
                </div>
                <div>
                    <label for="description" class="form-label mt-4">Description</label>
                    <textarea name="description" id="description" ng-model="post.description" ck-editor></textarea>
                </div>
                
                <p id="msg"></p>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="button" class="btn btn-update btn-primary glow-on-hover" ng-click="updatePost()">Update Post</button>
                        <a href="#/" class="btn btn-primary glow-on-hover">Back</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>