<div class="row">
    <div class="col-md-10">
        <form id="updateForm">
            <fieldset>
                <legend>Update Post</legend>
                <div>
                    <label for="title" class="form-label mt-4">Title</label>
                    <input type="text" class="form-control" ng-model="post.title" id="title" placeholder="Title">
                </div>
                <div>
                    <label for="description" class="form-label mt-4">Description</label>
                    <textarea class="form-control" ng-model="post.description" id="description" rows="3" placeholder="Description"></textarea>
                </div>
                <p id="msg"></p>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="button" class="btn btn-primary" ng-click="updatePost()">Update Post</button>
                        <a href="#/" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
