<div load-css="./css/viewpost.css"></div>

<div ng-show="isLoading" class="loading">
  <div class="box-load"></div>
  <div class="loader"></div>
  <div class="text">Chờ tí nhé</div>
</div>
<div class="row"  ng-show="!isLoading">
  <div class="col-md-12">
    <div ng-controller="viewCtrl" class="content-post-view">
      <h4>{{ posts.title }}</h4>
      <p>Created at: {{ posts.created_at}}</p>
      <div class="content-main">
        <div class="description">
        </div>
      </div>
      <div class="interact">
        <button class="like" ng-click="likePost(posts.id)"><i class="fa-regular fa-heart"></i><span>{{posts.likes}}</span></button>    
        <button><i class="fa-regular fa-message"></i></button>
        <button><i class="fa-solid fa-share"></i></button>
      </div>
    </div>
    <a href="#/" class="btn btn-primary btn-back glow-on-hover">BACK</a>
  </div>

</div>
