<div load-css="./css/viewpost.css"></div>
<div class="row">
  <div class="col-md-12">
    <h4>VIEW POSTS</h4>
    <div ng-controller="viewCtrl" class="content-post-view">
      <h5>{{ posts.title }}</h5>
      <p>Created at: {{ posts.created_at }}</p>
      <div class="content-main">
        <div class="description">
        </div>
      </div>
      <div class="interact">
        <i class="fa-solid fa-thumbs-up"></i>
        <i class="fa-regular fa-message"></i>
        <i class="fa-solid fa-share"></i>
      </div>
    </div>
    <a href="#/" class="btn btn-primary btn-back glow-on-hover">BACK</a>
  </div>
</div>